*/gnuplotData*
/ECalc/build/
/ECalc/dist/
/ECalcPlot/build/
/ECalcPlot/dist/
/pbPlots/dist/
/pbPlots/build/
/gplot_test/build/
/gplot_test/dist/
/gplot/dist/
/gplot/build/
/PrimitiveDataTypes/dist/
/PrimitiveDataTypes/build/
/NumericalPrecision/build/
/NumericalPrecision/dist/
/Declarations/dist/
/Declarations/build/
/BasicPointers/dist/
/BasicPointers/build/
/TriangleArea/build/
/TriangleArea/dist/
/SumOrdering/build/
/SumOrdering/dist/
/QuickSort/build/
/QuickSort/dist/
/Solitaire/build/
/Solitaire/dist/
/test_project/build/
/test_project/dist/
/AverageDistance/build/
/AverageDistance/dist/
